{% extends 'shop/layouts/main.html' %}

{% block title %}
  EpicDrop | MyOrders
{% endblock title %}

{% block content %}
<section class="bg-light py-4 mt-5">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h4 class="mb-3">My Orders</h4>
        <hr style="border-color: rgb(89,90,90);">
      </div>
    </div>
  </div>
</section>

<section class="container my-4">
  <div class="row">
    <div class="col-12">
      <div class="card shadow">
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered align-middle mb-0">
              <thead class="table-dark">
                <tr>
                  <th>Order Date</th>
                  <th>Tracking Number</th>
                  <th>Total Price</th>
                  <th>Status</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                {% for item in orders %}
                <tr>
                  <td>{{ item.created_at }}</td>
                  <td>{{ item.tracking_no }}</td>
                  <td>₹ {{ item.total_price }}</td>
                  <td>{{ item.status }}</td>
                  <td>
                    <a href="{% url 'orderview' item.tracking_no %}" class="btn btn-sm btn-primary">
                      View
                    </a>
                  </td>
                </tr>
                {% empty %}
                <tr>
                  <td colspan="5" class="text-center">No orders found.</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock content %}